# name: Cypress Tests
# on: [push]

# jobs:
#   cypress-run:
#     runs-on: ubuntu-latest
#     environment: Test
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v3

#       - name: Setup Node.js
#         uses: actions/setup-node@v3
#         with:
#           node-version: '22.13.1'
#           cache: 'npm'
      
#       - name: Install dependencies
#         run: npm ci
      
#       - name: Build
#         run: npm run build